.header-container {
  font-size: 25px;
  /* background-color: pink; */
  height: 110px;
  display: grid;
  /* grid-template-columns: 200px 200px; */
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}

.header-item {
  /* background-color: mediumspringgreen; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  width: 200px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

a:hover {
  cursor: pointer;
  color: #32bca3;
}

a {
  /*font-weight: 18px;*/
  color: #191d21;
  text-decoration: none;
}
