* {
  margin: 0;
  padding: 0%;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "animationSide studyPageSide";
}

.study-page-side {
  /* width: 850px; */
  grid-area: studyPageSide;
}

.animationArea {
  grid-area: animationSide;
  height: 800px;
  /* width: 900px; */
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: skyblue;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 50px;
}

#add-input-group {
  width: 800px;
}

h2 {
  font-weight: bold;
}

label {
  font-weight: bold;
}

#tableArea {
  border: 2px solid #32bca3;
  border-radius: 25px;
  border-spacing: 10px;
  margin-bottom: 10px;
  width: 850px;
}

#crudTable {
  width: 800px;
}

thead {
  color: #32bca3;
}

tbody {
  font-weight: bold;
}

.delete-button {
  background-color: #3f15ea;
  color: white;
  border-radius: 300px;
  width: 100px;
}

.update-button {
  background-color: #3f15ea;
  margin-left: 10px;
  color: white;
  border-radius: 300px;
  width: 100px;
}

#cancel-button {
  background-color: #3f15ea;
  color: white;
  border-radius: 300px;
  width: 200px;
}

#start-button {
  background-color: #32bca3;
  color: white;
  border-radius: 300px;
  width: 100px;
}

table td:nth-child(1) {
  width: 200px;
}

table td:nth-child(2) {
  width: 300px;
}

table td:nth-child(3) {
  width: 200px;
}

table td:nth-child(4) {
  width: 150px;
}

table td:nth-child(5) {
  width: 250px;
}
table td:nth-child(6) {
  width: 200px;
}

.sub-line {
  font-size: 18px;
  margin-left: 15px;
}

#Submit {
  height: 68px;
  width: 200px;
  background-color: #32bca3;
  font-weight: bold;
  border-radius: 300px;
  color: white;
  font-size: 19px;
}

.game-button-group {
  display: flex;
  justify-content: right;
  width: 850px;
}

#game-mode-btn {
  height: 68px;
  width: 200px;
  background-color: #32bca3;
  font-weight: bold;
  border-radius: 300px;
  color: white;
  font-size: 19px;
}

#Update {
  display: none;
}

.game-column {
  border: none;
}

#start-button {
  display: none;
}

#cancel-button {
  display: none;
}

td {
  border: none;
}

.timer-controller {
  background-color: #32bca3;
  color: white;
  width: 200px;
  font-size: 27px;
  font-weight: bold;
  border-radius: 100px;
}

.trophy {
  margin-left: 23%;
  width: 200px;
}

.step1 {
  display: none;
}

/* rocket */

#cloud.hide {
  display: none;
}

#cloud.appear {
  animation: appear 1s ease 0s 1 normal forwards;
}

@keyframes appear {
  0% {
    opacity: 0.8;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#cloud.away {
  animation: away 1s ease 0s 1 normal forwards;
}

@keyframes away {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0.8;
    transform: translateY(800px);
  }
}

#fire.hide {
  display: none;
}

#whitesmoke.hide {
  display: none;
}

#whitesmoke.disappear {
  animation: disappear 1s ease 0s 1 normal forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0.8;
    transform: translateY(400px);
  }
}

#rocket.move {
  animation: rocket 2s linear 0s infinite normal forwards;
}

@keyframes rocket {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(10px, -10px);
  }

  40% {
    transform: translate(10px, 10px);
  }

  60% {
    transform: translate(-10px, 10px);
  }

  80% {
    transform: translate(-10px, -10px);
  }

  100% {
    transform: translate(0);
  }
}

#rocket.fly {
  animation: flyaway 1s ease 0s 1 normal forwards;
}

@keyframes flyaway {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0.8;
    transform: translateY(-600px);
  }
}

/* visualization */

.visContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}
