#Update {
  display: none;
}

body {
  background: black;
}

* {
  color: hotpink;
}

.game-column {
  border: none;
}

#start-button {
  display: none;
}

#cancel-button {
  display: none;
}

td {
  border: none;
}
