* {
  font-size: 18px;
  margin: 0;
  padding: 0%;
  /* box-sizing: border-box; */
}

#Update {
  display: none;
}

/* need remove */
body {
  background: black;
  height: 100vh;
}
* {
  color: hotpink;
}
/* need remove */

.game-column {
  border: none;
}

#start-button {
  display: none;
}

#cancel-button {
  display: none;
}

td {
  border: none;
}

/* grid */
/* #add-input-group {
  grid-area: inputArea;
  background-color: aliceblue;
}

#time-buttons {
  grid-area: timeArea;
}

#tableArea {
  display: -ms-flexbox;
  grid-area: tableArea;
}

#crudTable {
  width: 900px;
}

.animationArea {
  grid-area: animation;
  background-color: dodgerblue;
  height: 800px;
  display: none;
} */

.animationArea {
  grid-area: animationSide;
  background-color: dodgerblue;
  height: 800px;
  width: 1000px;
  display: none;
}

.study-page-side {
  width: 900px;
  grid-area: studyPageSide;
  background-color: aquamarine;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-rows: max-content; */
  grid-template-areas: "animationSide studyPageSide";
}
